.details-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #CDEAC0;    
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 0px;
    border-radius: 5px;
    font-size: 18px;
}

.subtitle {
    font-weight: bold;
    margin-right: 10px;
}