.search-box {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
}

.search-box input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

.search-box input:focus {
    border: none;
}


.search-box button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0c14b;
    color: #111;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: -5px;
    cursor: pointer;
}

.search-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-height: 150px;
    overflow: auto;
    background: white;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% + 5px);
    z-index: 1;
    text-align: left;
    font-size: 15px;
    color: #888;
}

.search-box li {
    padding: 10px;
    cursor: pointer;
}

.search-box li:hover {
    background: #3399cc;
    color: #444;
}
